<div class="formHead flex justify-between items-center p-4"> 

    <form action="/add-task" method="post" id="task-input" class="flex flex-1 flex-wrap flex-col md:flex-row items-center justify-center p-2 space-y-6 md:space-y-0 md:space-x-6 border rounded-xl shadow-md bg-white">
        <div class="task w-full md:w-1/3 rounded-xl">
            <input type="text" name="task" id="task-input" class="border-2 rounded-xl p-2 shadow-inner w-full" placeholder="Enter a task">
        </div>
        <div class="date w-full md:w-1/4">
            <input type="date" name="date" id="date-input" class="border-2 rounded-xl p-2 w-full">
        </div>
        <div class="w-full md:w-1/4">
            <button type="submit" class="w-full p-2 bg-blue-400 text-white rounded-xl font-bold">Submit</button>
        </div>
    </form>

</div>
