<div class="flex flex-wrap justify-between items-center  border-2 p-2"> <!--Logo and Navigation   -->
    
    <div>
        <h1 class=" flex text-4xl text-blue-500 font-bold">Task.Tamarin</h1>
        <div class="w-10 h-10 relative">
            <img src="/public/tamarin.svg" alt="trashcan" class="absolute inset-0 w-full h-full object-contain">
        </div>
    </div>
    
    <nav>
        <ul class="flex space-x-4">
            <li><a href="#">Tasks</a></li>
            <li><a href="#">Calender</a></li>
            <li><a href="#">Reminder</a></li>
            <li><a href="#">Statistics</a></li>
        </ul>
    </nav>
</div>