<div class="flex flex-wrap justify-between items-center  border-2 p-2"> <!--Logo and Navigation   -->
    <div>
        <h1 class="text-4xl text-blue-500 font-bold">Task.Tamarin</h1>
    </div>
    
    <nav>
        <ul class="flex space-x-4">
            <li><a href="#">Tasks</a></li>
            <li><a href="#">Calender</a></li>
            <li><a href="#">Reminder</a></li>
            <li><a href="#">Statistics</a></li>
        </ul>
    </nav>
</div>