<div class="flex flex-wrap justify-center items-center border-b-2 lg:p-2 bg-white"> <!-- Logo and Navigation -->
    
    <div class="flex items-center"> <!-- Center the logo and title -->
        <div class="w-24 h-24 lg:w-32 lg:h-32 relative ml-2"> <!-- Added margin for spacing -->
            <img src="/Logo.svg" alt="logo" class="absolute inset-0 w-full h-full object-contain">
        </div>
    </div>

    
    <!-- <nav>
        <ul class="flex space-x-4 mr-2">
            <li><a href="#">All Tasks</a></li>
            <li><a href="#">Low Priority</a></li>
            <li><a href="#">Mid Priority</a></li>
            <li><a href="#">High Priority</a></li>
        </ul>
    </nav> -->
</div>