<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Task-Tamarin</title>
</head>
<body>
    <div id="page-wrapper"> <!--Content wrapper   -->

        <div class="flex flex-wrap justify-between items-center  border-2 p-2"> <!--Logo and Navigation   -->
            <div>
                <h1 class="text-4xl text-blue-500 font-bold">Task.Tamarin</h1>
            </div>
        </div>


        <!-- 404 page not found -->
        <div id="main-wrapper" class="grid lg:grid-cols-3 gap-10 items-center p-2">
            <div class="border-2 text-center text-4xl rounded-xl p-2 shadow-sm">404</div>
            <div class="border-2 text-center text-4xl rounded-xl p-2 shadow-sm">PAGE NOT FOUND</div>
        </div>



    </div> <!--Content wrapper end   -->
</body>
</html>

