<%- include('./partials/header.ejs') %>


<body class="text-gray-500">
    <div id="page-wrapper"> <!--Content wrapper   -->

        <%- include('./partials/nav.ejs') %>  <!--  Logo and NAvigation   -->

        <%- include('./partials/form.ejs') %>  <!--  Input form section   -->

        <%- include('./partials/dashboard.ejs') %>  <!--  Task input section   -->


        
            

    </div> <!--Content wrapper end   -->
</body>
</html>

