<%- include('./partials/header.ejs') %>


<body class="">
    <div id="page-wrapper" 
        style="background-image: url('/cool-background.svg'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 100vh; backdrop-filter: blur(5px)"> <!--Content wrapper   -->

        <%- include('./partials/nav.ejs') %>  <!--  Logo and NAvigation   -->

        <%- include('./partials/form.ejs') %>  <!--  Input form section   -->

        <%- include('./partials/dashboard.ejs') %>  <!--  Task input section   -->


        
            

    </div> <!--Content wrapper end   -->
</body>
</html>

