<%- include('./partials/header.ejs') %>

<body>
    <div id="page-wrapper"> <!--Content wrapper   -->

        <%- include('./partials/nav.ejs') %>  <!--  Logo and NAvigation   -->

        <%- include('./partials/form.ejs') %>  <!--  Task input section   -->

        <%- include('./partials/dashboard.ejs') %>  <!--  Main page   -->

    </div> <!--Content wrapper end   -->
</body>
</html>

