<%- include('./partials/header.ejs') %>


<body class="text-gray-500" style="background-image: url('/thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;" >




    <div id="page-wrapper" > <!--Content wrapper   -->

        <%- include('./partials/nav.ejs') %>  <!--  Logo and NAvigation   -->

        <%- include('./partials/form.ejs') %>  <!--  Input form section   -->

        <%- include('./partials/dashboard.ejs') %>  <!--  Task input section   -->


        
            

    </div> <!--Content wrapper end   -->
</body>
</html>

